body {
    background: white;
    padding-top: 75px;
}

.owner {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.uniform {
    max-width: 140px;
    font-size: 11px;
}

.crypto {
    max-width: 300px;
}

.cryptoslam-table {
    font-size: 13px;
    width: 100%;
}

.price {
    text-align: right;
}

.tab-content {
    margin-top: 15px;
}

#tabs {
    display: none;
}

#item-info ul li {
    font-size: 12px;
}

.card-body ul {
    padding: 0px;
}
.card-body li {
    list-style: none;
}

.card-body li strong {
    width: 110px; 
    display: inline-block;
}

#hitting-table-wrapper {
    display: none;
}

#population-table-wrapper {
    display: none;
}

#pitching-table-wrapper {
    display:none;
}

#token-table-wrapper {
    display: none;
}



#player-sales-table-wrapper {
    display: none;
}

#market-table-wrapper {
    display: none;
}